---
language: id
layout: gallery
title: Residential Exterior
description: Turn your Residential Exterior into your own private resort with our Natural Stone Veneer
keyword: Residential Exterior
image: /images/untitled1-1-1024x679.png
---
<div class="site-intro">
    <h1>
        Residential Exterior
    </h1>
    <p>Turn your landscaping into your own private resort with our Natural Stone Veneer</p>
</div>
<div class="action-hint quick">Scroll or drag to Left explore.</div>
<div class="action-hint-for-touch"><strong>SWIPE &#62;&#62;</strong></div>
<!-- Swiper -->
<div class="swiper-container" id="main">
    <div class="swiper-wrapper">
        <a href="#img1">
        {% for item in site.data-4-residential-exterior %}
        <div class="swiper-slide type-1">
            <div class="whole item" id="work-11" style="background-image: url({{ item.image }});">
                <div class="work-caption">
                    <h3>{{ item.title }}</h3>
                    <p class="work-client">{{ item.sub-title }}</p>
                </div>
                <a href="{{ item.url }}">view more</a>
            </div>
        </div>
        {% endfor %}
        </a>
        {% for item in site.data-4-residential-exterior %}
        <a href="#_" class="lightbox" id="img1">
            <img src="{{ item.image }}">
        </a>
        {% endfor %}
    </div>
</div>
<div id="call-to-action">
    <h2>Any other ideas?</h2>
    <p>There are questions and other creative ideas to beautify your home, contact us immediately.</p>
</div>