<link rel="stylesheet" href="/static/css/foundation.css">
<link rel="stylesheet" href="/static/css/slick.css">
<link rel="stylesheet" href="/static/css/slick-theme.css">
<link rel="stylesheet" href="/static/css/swiper.min.css">
<link rel="stylesheet" href="/static/css/app.css">
<link rel="stylesheet" href="/static/css/responsive.css">
<link href="/static/css/fontello.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/static/css/font-awesome.css" media="screen" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/static/css/linea-styles.css" />
<link rel="stylesheet" href="/static/css/linea-arrows-styles.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">